#festival {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#festival h3 {
  background-image: url("../assets/images/orange_background_festival.png");
  text-align: left;
  padding: 5rem;
  width: 60%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#festival img {
  height: 150px;
}

.banner {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner #banner-video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.banner img {
  position: relative;
}

#carousel_section {
  all: unset;
  width: 100%;
  margin: 6em 6em 0 6em;
}
#carousel_section h3 {
  all: unset;
  color: white;
  font-size: 2.5rem;
  background-image: url("../assets/images/orange_characters.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 1.3em;
  margin: 0;
  background-position: left;
  clear: both;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
#carousel_section .title_section {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.swiper {
  width: 100%;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
}

.story__article::after {
  animation: rotate-animation 8s infinite linear;
  transform-origin: center center;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.story h2::after {
  animation: rotate-animation 8s infinite linear;
  transform-origin: center center;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#studio h2::after {
  animation: rotate-animation 8s infinite linear;
  transform-origin: center center;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#studio h2::before {
  animation: rotate-animation 8s infinite linear;
  transform-origin: center center;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-footer::before {
  animation: rotate-animation 8s infinite linear;
  transform-origin: center center;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-footer::after {
  animation: rotate-animation 8s infinite linear;
  transform-origin: center center;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-footer ul::after {
  animation: rotate-animation 8s infinite linear;
  transform-origin: center center;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
}
section.story #place #cloud_animation {
  width: 100%;
  all: unset;
  margin-top: 9rem;
  margin-left: 15rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  z-index: 2;
}
section.story #place #cloud_animation .clouds {
  filter: blur(0.8rem);
}

.title_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title_animation_scroll_one {
  margin-right: 10px;
  animation: fade-in-move-up 1s ease;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.title_animation_scroll_two {
  animation: fade-in-move-up 1s ease;
  animation-delay: 150ms;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.banner {
  animation: fade-in-move-down 1s ease;
}
.banner img {
  animation: fade-in-move-up 1s ease;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation_container {
  animation: fade-in-move-up 1s ease;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */