#festival {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#festival h3 {
  background-image: url("../assets/images/orange_background_festival.png");
  text-align: left;
  padding: 5rem;
  width: 60%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
#festival img {
  height: 150px;
}

section.banner {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.banner #banner-video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
section.banner img {
  position: relative;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

#carousel_section {
  all: unset;
  width: 100%;
  margin: 6em 6em 0 6em;
}
#carousel_section h3 {
  all: unset;
  color: white;
  font-size: 2.5rem;
  background-image: url("../assets/images/orange_characters.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 1.3em;
  margin: 0;
  background-position: left;
  clear: both;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
#carousel_section .title_section {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.swiper {
  width: 100%;
}
.swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
}

#nav {
  height: 80px;
  background-color: #FFD5A2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 100;
}
#nav .site-title {
  font-family: "Quicksand", sans-serif;
  font-size: 21.5px;
}
#nav .site-title a {
  text-decoration: none;
}
#nav #menu_icon {
  cursor: pointer;
  position: absolute;
  right: 45px;
  font-size: 20px;
  color: black;
}
#nav #menu_icon #icon-menu-close {
  display: none;
  font-size: 30px;
}

#menu-content {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
}
#menu-content::before {
  content: url("../assets/images/orchid.png");
  position: absolute;
  right: 92%;
  top: 14rem;
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#menu-content::after {
  content: url("../assets/images/hibiscus.png");
  position: absolute;
  left: 80%;
  bottom: -20rem;
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#menu-content img {
  margin-right: -6rem;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
#menu-content li {
  list-style: none;
  font-size: 64px;
  color: black;
  padding: 1rem 0;
}
#menu-content li a {
  text-decoration: none;
}
#menu-content li a:hover {
  text-shadow: #FF5C00 1px 0 10px;
  color: black;
}
#menu-content #link-story::before {
  content: url("../assets/images/purple-cat.png");
  position: absolute;
  left: 22%;
  top: 19rem;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
#menu-content #link-story::after {
  content: url("../assets/images/sunflower.png");
  position: absolute;
  right: 13%;
  top: 16%;
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#menu-content #link-characters::after {
  content: url("../assets/images/random_flower.png");
  position: absolute;
  transform: scale(0.5);
  right: -7%;
}
#menu-content #link-place::before {
  content: url("../assets/images/black-cat.png");
  position: absolute;
  right: 18%;
  top: 50%;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
#menu-content #link-place::after {
  content: url("../assets/images/Flower.png");
  position: absolute;
  left: 18%;
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#menu-content #link-studio::before {
  content: url("../assets/images/orange-cat.png");
  position: absolute;
  left: 5%;
  bottom: 5%;
  animation: float 2s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
#menu-content p {
  text-transform: uppercase;
  font-size: 12px;
  right: 44%;
  position: absolute;
  bottom: 5%;
}
#menu-content.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 10rem;
  background-color: #FFF5E9;
}

.story__article::after {
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.story h2::after {
  transform-origin: 50% 70% 0;
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#studio h2::after {
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#studio h2::before {
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-footer::before {
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-footer::after {
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site-footer ul::after {
  animation: rotate-animation 8s infinite linear;
}
@keyframes rotate-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.story #place {
  background-image: url("../assets/images/Studio_Koukaki-image_place.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
section.story #place #cloud_animation {
  width: 100%;
  all: unset;
  margin-top: 5rem;
  margin-left: 30rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  z-index: 2;
}
section.story #place #cloud_animation .clouds {
  filter: blur(0.8rem);
}
section.story #place #cloud_animation #little_cloud {
  margin-bottom: -6rem;
}

.title_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title_animation_scroll_one {
  margin-right: 10px;
  animation: fade-in-move-up 1s ease;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.title_animation_scroll_two {
  animation: fade-in-move-up 1s ease;
  animation-delay: 150ms;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

.banner {
  animation: fade-in-move-down 1s ease;
}
.banner img {
  animation: fade-in-move-up 1s ease;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

@keyframes fade-in-move-down {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation_container {
  animation: fade-in-move-up 1s ease;
}
@keyframes fade-in-move-up {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */