section.story #place {
    background-image: url("../assets/images/Studio_Koukaki-image_place.png");
    background-size: 100%;
    background-repeat: no-repeat;
    @media #{$mobile} {
        background-size: auto;
     }
    #cloud_animation{
        @media #{$mobile} {
            margin-left: 1rem;
         }
        width: 100%;
        all: unset;
        margin-top: 5rem;
        margin-left: 30rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        z-index: 2;
        .clouds {
            filter: blur(0.8rem);
        }
        #little_cloud {
            margin-bottom: -6rem;
            @media #{$mobile} {
                margin-bottom: -1rem;
             }
        }
    }
}