.title_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title_animation_scroll_one {
    margin-right: 10px;
    @include animation-fade-in-move-up;      
}

.title_animation_scroll_two {
  @include animation-fade-in-move-up;
  animation-delay: 150ms;
}
