@mixin infinite-rotate-animation {
    animation: rotate-animation 20s infinite linear;
    @keyframes rotate-animation {
        from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
    }
}

@mixin animation-fade-in-move-up {
  animation: fade-in-move-up 1s ease;
  @keyframes fade-in-move-up {
    0% {
      transform:translate(0px, 100px); 
      opacity: 0;
    }
    100%{
      transform:translate(0px, 0); 
      opacity: 1;
    }
      }
}

@mixin animation-float {
  animation: float 2s ease-in-out infinite;
  @keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
}