#nav {
    height: 80px;
    background-color: #FFD5A2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    max-width: 1440px;
    .site-title {
        font-family: "Quicksand", sans-serif;
        font-size: 21.5px;
        a {
            text-decoration: none;
        }
    }
    #menu_icon {
        cursor: pointer;
        position: absolute;
        right: 45px;
        font-size: 20px;
        color: black;
        #icon-menu-close {
            display: none;
            font-size: 30px;
        }
    }
    
}

#menu-content {
    z-index: 1;
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    &::before {
        content: url("../assets/images/orchid.png");
        position: absolute; 
        right: 92%;
        top: 14rem;
        @include infinite-rotate-animation;
    }
    &::after {
        content: url("../assets/images/hibiscus.png");
        position: absolute; 
        left: 80%;
        bottom: -25rem;
        @include infinite-rotate-animation;
        
    }
    img {
        margin-right: -6rem;
        @include animation-float;
    }
    li {
        list-style:none;
        font-size: 45px;
        color: black;
        padding: 0.5rem 0;
        
        a {
            text-decoration: none;
            &:hover {
                text-shadow: #FF5C00 1px 0 10px;
                color: black;
            }
        }
        
    }
    #link-story {
        &::before {
            content: url("../assets/images/purple-cat.png");
            position: absolute; 
            left: 22%;
            top: 19rem;
            @include animation-float;
        }
        &::after {
            content: url("../assets/images/sunflower.png");
            position: absolute; 
            right: 13%;
            top: 16%;
            @include infinite-rotate-animation;
        }
    }
    #link-characters {
        &::after {
            content: url("../assets/images/random_flower.png");
            position: absolute; 
            right: -7%;
            top: 30%;
            animation: rotate-animation-random-flower 20s infinite linear;
            @keyframes rotate-animation-random-flower {
                from {
                    transform: rotate(0deg) scale(.4);
                }
                to {
                    transform: rotate(360deg) scale(.4);
                }
    }
            
        }
    }
    #link-place {
        &::before {
            content: url("../assets/images/black-cat.png");
            position: absolute; 
            right: 18%;
            top: 60%;
            @include animation-float;
        }
        &::after {
            content: url("../assets/images/Flower.png");
            position: absolute; 
            left: 18%;
            @include infinite-rotate-animation;
        }
    }
    #link-studio {
        &::before {
            content: url("../assets/images/orange-cat.png");
            position: absolute; 
            left: 5%;
            bottom: 5%;
            @include animation-float;
        }
    }
    p {
        text-transform: uppercase;
        font-size: 12px;
        right: 44%;
        position: absolute;
        bottom: 5%;
    }
&.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 10rem;
    background-color: #FFF5E9;
}
}
