.banner {
    position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  #banner-video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        position: relative;
    }
}